<div class="text-blue-200">
    <h1>DecimalPipe y Pocercentaje</h1>
    <p>Pipes incluidos en Angular - Usualmente en el common module</p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card header="Ventas Netas"
                subheader="Ventas Netas del año">
                <i class="pi pi-dollar"></i>
         {{(ventasNetas+1000000)|number:'1.2-2'}}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="Ventas Brutas"
                subheader="Ventas Netas del año">
                
         {{(ventasNetas + 2000000)|currency:'$':'symbol-narrow':'1.0-4'}}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="Ganancia Porcentual"
                subheader="Ventas Netas del año">
                
         {{porcentaje|percent:'2.2-2'}}
        </p-card>
    </div>
</div>