<app-menu></app-menu>
<router-outlet></router-outlet>
<!-- <div class="text-layout">

  <h1>{{nombre|titlecase}}</h1>
  <h1>{{valor |number}}</h1>
  <h1>{{obj |json}}</h1>


</div>




<button
class="p-button-help"
icon="pi pi-send"
iconPos="right"
pButton 
type="button" 
(click)="mostrarNombre()"
label="Cambiar Nombre"
>


</button>


<p-card class="p-card p-header" 
        [header]="nombre | titlecase"
        subheader="Subheader" >
   
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur necessitatibus atque modi quas quis labore libero veniam fuga odit inventore, quidem excepturi totam blanditiis hic ea. Nisi quas soluta quidem.

</p-card> -->

  